h1 h2 h3 h4 {
  font-family: Lato;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  body {
    text-rendering: optimizeLegibility;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container {
    min-width: 100vw;
  }
}

/* ------- */
/* Content */
/* ------- */
.content {
  margin: 0 auto;
}

.container {
  max-width: 640px;
  min-width: 800px;
  padding: 20px;
  height: min-content;
}

.home {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 20px;
}

.avatar img {
  width: 20rem;
  border: 2px solid gray;
}

/* ------ */
/* Navbar */
/* ------ */
.myName {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.side-nav {
  width: 130px;
}

a.navigation-link {
  text-decoration: none;
  color:black;
}

.navigation-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.active::after {
  content: '←';
}

/* ---------- */
/* Post Lists */
/* ---------- */
.posts-list {
  display: inline-grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr minmax(auto, 14%);
}

.posts-date-col {
  color: #333;
}

.posts-title-col {
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts-title-col a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

/* Books Lists */
.books-list {
  display: inline-grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 5fr 15% 1fr;
}

.books-date-col {
  color: #333;
}

.books-title-col {
  overflow: hidden;
  text-overflow: ellipsis;
}

.books-title-col a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

/* ------------ */
/* Body Content */
/* ------------ */
body {
  font-family: -apple-system,BlinkMacSystemFont,"avenir next",avenir,helvetica,"helvetica neue",ubuntu,roboto,noto,"segoe ui",arial,sans-serif;
  font-size: 18px;
  line-height: 1.65em;
}

blockquote {
  line-height: 2.8rem;
}

ul li .post-title {
  color: #1565c0!important;
  font-weight: 900;
}

#post-title {
  font-size: 28px;
}

/* ------ */
/* Footer */
/* ------ */
.footer ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  padding-inline-start: 0;
}

.footer ul li a {
  text-decoration: none;
  color:black;
  margin: 0 10px;
}

.footer-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.footer ul li .hoverbox:hover a p {
  position: absolute;
  top: 100px;
  left: 100px;
  background: white;
  display: block;
  height: 100px;
  width: 150px;
}

/* ------- */
/* Article */
/* ------- */
.content article header {
  margin: 0;
}

.metadata-separator {
  margin-right: 15px;
}

/* -------------- */
/* Mobile Version */
/* -------------- */
@media only screen and (max-device-width: 480px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .avatar {
    width: 150px;
    padding-bottom: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container {
    min-width: 100vw;
  }

  .posts-list {
    display: flex;
    flex-direction: column;
  }

  .posts-list time {
    padding-bottom: 20px;
  }

  .books-list {
    display: flex;
    flex-direction: column;
  }

  .books-list time {
    padding-bottom: 20px;
  }

  .post-meta {
    display: flex;
    justify-content: center;
  }
}