<div class="tags">
  {{- range $index, $el := . -}}
    {{- if gt $index 0 }}
      <span class="separator">•</span>
    {{- end }}
    <a href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
  {{- end -}}
</div>
