<div class="posts-title-col">
  <a href="{{ .Params.ExternalLink | default .RelPermalink }}">
    {{ .Title }}
  </a>
</div>
<time class="posts-date-col">
  {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
</time>