<footer class="footer">
  <div class="footer-name">Tae Kim</div>
  {{ with .Site.Params.social }}
  <ul class="footer-list">
    {{ range sort .}}
      {{ if .icon }}
        <li>
          <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
            <i class="{{ .icon }}" aria-hidden="true"></i>
          </a>
        </li>
      {{ else }}
        <li>
          <div class='hoverBox'>
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
            <p>YOOO</p>
          </div>
        </li>
      {{ end }}
    {{ end }}
  </ul>
  {{ end }}
</footer>
