<nav role="main" class="side-nav">
  <div class="container">
    <a href="/" class="myName">Tae Kim</a>
      <ul class="navigation-list">
        {{ $url := .URL }}
        {{ with .Site.Menus.main}}
          {{ range sort . }}
            <li class="navigation-item {{ if eq $url .URL }}active{{ end }}">
              <a class="navigation-link" href="{{ .URL | absLangURL }}">
                {{ .Name }}
              </a>
            </li> 
          {{ end }}
      </ul>
    {{ end }}
  </div>
</nav>