<div class="container centered home">
  {{ with .Site.Params.avatarurl }}
  <div>
    Hey, I'm Tae.
    <br />
    <br />
    I'm a Full Stack Engineer primarily focused on web (Typescript, React, NodeJS).
    <br />
    <br />
    This is a space where I record my thoughts, book reviews, and projects.
  </div>
  {{ end }}
</div>