<div class="books-list container">
  {{ range .Paginator.Pages }}
    <div class="books-title-col">
      <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">
        {{ .Title }}
      </a>
    </div>
    <div class="books-rating">⭑⭑⭑⭑⭑</div>
    <time class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</time>
    {{ end }}
  {{ partial "pagination.html" . }}
</div>
